<a href="https://colab.research.google.com/github/Aslmalki/exploratory-data-analysis/blob/main/Data_Cleaning_Template_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Basic Steps as Data exploration.
Where Data exploration refers to the initial step in data analysis in which data analysts use data visualization and statistical techniques to describe dataset characterizations, such as size, quantity, and accuracy, in order to better understand the nature of the data.*italicized text*

In [ ]:
# import the important lib
import pandas as pd       #data processing
import numpy as np        #linear algebra
import datetime as dt
import matplotlib
from matplotlib import pyplot as plt
from scipy.stats import norm
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

#data visualisation
import seaborn as sns
import plotly

# import your Dataset / put your dataset between the single paranthesis
df = sns.load_dataset('Your Dataset');

Data Exploration

In [ ]:
df.head() #The head() method returns the first 5 rows of your dataset plus the coulomn names too

In [ ]:
df.shape #the number of rows and columns of the DataFrame

In [ ]:
df.info() # The info() method prints information about the DataFrame. The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

This is so important to make sure the column data types is right, for example if the column was for price and the data type was intger , here you nedd to do one more step as data ccleaning whicch is change that column data types to be floating, etc.

In [ ]:
df.describe() #The describe() method returns statistical description of the data in the DataFrame.

,passengers,distance,fare,tip,tolls,total
count,6341.000000,6341.000000,6341.000000,6341.000000,6341.000000,6341.000000
mean,1.544078,2.997707,12.887931,1.972703,0.314793,18.310263
std,1.207948,3.719775,10.722249,2.361897,1.369174,12.950365
min,0.000000,0.000000,1.000000,0.000000,0.000000,1.300000
25%,1.000000,0.990000,6.500000,0.000000,0.000000,10.800000
50%,1.000000,1.650000,9.500000,1.750000,0.000000,14.160000
75%,2.000000,3.200000,15.000000,2.820000,0.000000,20.300000
max,6.000000,36.700000,150.000000,23.190000,24.020000,174.820000

If the DataFrame contains numerical data, the description contains these information for each column:

1. count - The number of not-empty values.
2. mean - The average (mean) value.
3. std - The standard deviation.
4. min - the minimum value.
5. 25% - The 25% percentile.
6. 50% - The 50% percentile.
7. 75% - The 75% percentile.
8. max - the maximum value.

In [ ]:
#drop the row/column if possible values are missing or null. {'any', 'all'}, default 'any'. choos from that what you need
#'any':If any NA values are present, drop that row or column.
#'all': If all values are NA, drop that row or column.

df=df.dropna(how='all') # drop the row, if all the values are missing

df=df.dropna(how='any') # drop the row, if any NA values are present

df=df.drop_duplicates() # method helps in removing duplicates rows



---

# Extra steps you might need it with your dataset, depend on what are you looking for and what you need to do

In [ ]:
#specify the number of smallest values to be selected and the name of the column
df.nsmallest(3, 'columnName')

In [ ]:
#specify the number of largest values to be selected and the name of the column
df.nlargest(5, 'columnName')

In [ ]:
# this is an example of some exploration steps, you can find certain values inside that column based on condition
df1 = df.query('columnName >= 4') # you can do any other conditions filters
print(df1.shape) # check the new total or raws and columns after this filter

In [ ]:
# this is an example of some exploratory data analysis steps, The GROUPBY function allows you to group, aggregate, sort, and filter data based on the fields you specify.
df2=df1.groupby(['1st columnName', '2nd columnName']).agg('sum')
df2.head() #The head() method returns the first 5 rows of your dataset plus the coulomn names too
print(df2.shape) # check the new total or raws and columns after this filter

In [ ]:
#This is useful when the index needs to be treated as a column,
#or when the index is meaningless and needs to be reset to the default before another operation
df2.reset_index()
print(df2.shape) # check the new total or raws and columns
df2.head() #The head() method returns the first 5 rows of your dataset plus the coulomn names too

In [ ]:
#The axes_style() function for Seaborn library defines and returns a dictionary of the parameters related to the styling of the plots.
sns.axes_style()
plt.style.available

In [ ]:
# Calculating mean and Stdev of certain column (numerical data)
df_mean = np.mean(df["columnName"])
df_std = np.std(df["c"])
print("Mean of the columnName is % s " %(np.mean(df["columnName"])))
print("Stdev of the columnName is % s " %(np.std(df["columnName"])))

In [ ]:
#creat new column df['new_column_name']to filter perior column or any other reason
# lambda to creat a function,like short one. axis=1 for rows level only ,axis=0 for columns level
# here is an example from Taxi dataset, the new column will be the filter of the tip column where the tip is bigger than Zero
df['giving_tip'] = df.apply (lambda row: row['tip'] > 0, axis=1) #the new column named Tip, you can change that to any name you want for your dataset
df.head()

In [ ]:
# lambda to creat a function,like short one.
#“axis 0” represents columns and “axis 1” represents rows.
#creat new column that results from spearate an existing column
# here is an example from Taxi dataset, the new column will be the filter of the pickup and dropoff column where the date is excluded and only the time kept
df['pickup_time'] = df.apply (lambda row: row['pickup'].split(' ')[1], axis=1,)
df['dropoff_time'] = df.apply (lambda row: row['dropoff'].split(' ')[1], axis=1)
df.head()

In [ ]:
# convert a column to datetime format
df['columnName']= pd.to_datetime(df['columnName'] )

# Check the format of all the columns to make sure it was successful
df.info()